extends layout

block content
  h1= title
  p This page lists out the cases that we still need to work on, in their corresponding states
  div.home-page
    div.state-row.title-row
        div #
        div Step
        div Case count
    div.state-row
        div Step 1
        div Prep work needed
        div 8
    div.state-row
        div Step 2
        div 
            a(href="/allocation", target="__blank") Ready for allocation
        div 25
    div.state-row
        div Step 3
        div 
            a(href="/designers", target="__blank") Ready for design
        div 3
    div.state-row
        div Step 4
        div Ready for QC
        div 11
    div.state-row
        div Step 5
        div Ready for packaging
        div 2
    